doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		title Prueba Login
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css" rel="stylesheet")
	body

		block  contenido

		// ----Jquery Bootstrap 4
		script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
		// ----Popper de Bootstrap 4
		script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
		// ----JavaScript de BBotstrap 4
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")